.about-us {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.about-us__description {
  text-align: center;
  color: #6c788b;
  margin-top: 24px;
  font-family: Open Sans, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
}

@media (width >= 640px) {
  .about-us__description {
    margin-top: 16px;
    font-size: 24px;
    line-height: 36px;
  }
}

@media (width >= 1024px) {
  .about-us__description {
    width: 716px;
  }
}

@media (width >= 1600px) {
  .about-us__description {
    width: 754px;
  }
}

.company-info {
  width: 280px;
  margin: 0;
}

@media (width >= 640px) {
  .company-info {
    width: 362px;
  }
}

.company-info__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.company-info__type {
  letter-spacing: 3px;
  text-align: left;
  color: #ffffff80;
  margin-top: 40px;
  margin-bottom: 8px;
  font-family: Poppins, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

@media (width >= 640px) {
  .company-info__type {
    margin-top: 48px;
  }
}

.company-info__type--tel {
  margin-top: 48px;
}

@media (width >= 640px) {
  .company-info__type--tel {
    margin-top: 56px;
  }
}

.company-info__value {
  text-align: left;
  color: #fff;
  font-family: Open Sans, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  text-decoration: none;
  transition: color .3s;
  display: block;
  position: relative;
}

.company-info__value:hover {
  color: #2060f6;
}

.company-info__logo-block {
  justify-content: space-between;
  width: 160px;
  height: 32px;
  margin-top: 16px;
  display: flex;
}

.company-info__link {
  width: 32px;
  height: 32px;
  display: block;
}

.instagram {
  background-image: url("instagram-logo.61493223.png");
  transition: background-image .3s;
}

.instagram:hover {
  background-image: url("instagram-hover.524671f5.png");
}

.facebook {
  background-image: url("facebook-logo.025a1f26.png");
  transition: background-image .3s;
}

.facebook:hover {
  background-image: url("facebook-hover.97fb6d7f.png");
}

.twitter {
  background-image: url("twitter-logo.437bebee.png");
  transition: background-image .3s;
}

.twitter:hover {
  background-image: url("twitter-hover.c4585fcf.png");
}

.expertise-card {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  display: flex;
}

@media (width >= 640px) {
  .expertise-card {
    width: 362px;
  }
}

@media (width >= 1024px) {
  .expertise-card {
    width: 214px;
  }
}

@media (width >= 1600px) {
  .expertise-card {
    width: 264px;
  }
}

.expertise-card__image {
  width: 166px;
  height: 166px;
  transition: transform .3s;
}

.expertise-card__image:hover {
  transform: scale(1.2);
}

.expertise-card__title {
  text-align: center;
  color: #253757;
  margin-top: 32px;
  margin-bottom: 16px;
  font-family: Poppins, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.expertise-card__content {
  text-align: center;
  color: #6c788b;
  margin: 0 auto;
  font-family: Open Sans, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.expertise {
  flex-direction: column;
  align-items: center;
  gap: 56px;
  padding: 72px 0;
  display: flex;
}

.expertise__content {
  flex-direction: column;
  align-items: center;
  gap: 56px;
  display: flex;
}

@media (width >= 640px) {
  .expertise__content {
    gap: 72px;
  }
}

@media (width >= 1024px) {
  .expertise__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (width >= 640px) {
  .expertise {
    padding: 128px 0;
  }
}

@media (width >= 1024px) {
  .expertise {
    padding: 128px 0 134px;
  }
}

.expertise-wrapper {
  background: #fff;
  border-radius: 30px;
}

.footer {
  flex-direction: column;
  gap: 80px;
  padding: 72px 0 80px;
  display: flex;
}

@media (width >= 640px) {
  .footer {
    gap: 139px;
    margin-top: -50px;
    padding-top: 120px;
  }
}

@media (width >= 1024px) {
  .footer {
    gap: 104px;
    padding-top: 180px;
  }
}

.footer__top {
  flex-direction: column;
  gap: 80px;
  display: flex;
}

@media (width >= 640px) {
  .footer__top {
    gap: 120px;
  }
}

@media (width >= 1024px) {
  .footer__top {
    flex-direction: row;
    gap: 98px;
  }
}

@media (width >= 1600px) {
  .footer__top {
    gap: 226px;
  }
}

.footer__bottom {
  flex-direction: column;
  gap: 48px;
  display: flex;
}

@media (width >= 640px) {
  .footer__bottom {
    gap: 24px;
  }
}

@media (width >= 1024px) {
  .footer__bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  transition: transform .3s;
}

.footer__logo:hover {
  transform: scale(1.2);
}

.footer-wrapper {
  background-color: #2c2c2c;
  border-radius: 30px 30px 0 0;
  position: relative;
}

.header {
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.header__title {
  letter-spacing: -2px;
  text-align: left;
  margin: 48px 0 0;
  font-family: Poppins, serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 62px;
}

@media (width >= 640px) {
  .header__title {
    margin-top: 56px;
    font-size: 64px;
    line-height: 68px;
  }
}

@media (width >= 1024px) {
  .header__title {
    max-width: 490px;
    margin-top: 164px;
  }
}

.header__description {
  text-align: left;
  max-width: 362px;
  margin: 32px 0 0;
  font-family: Open Sans, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  display: block;
}

@media (width >= 640px) {
  .header__description {
    margin-top: 24px;
  }
}

@media (width >= 1024px) {
  .header__description {
    margin-top: 32px;
  }
}

.header__button {
  cursor: pointer;
  color: #fff;
  text-align: center;
  background-color: #2060f6;
  border: none;
  border-radius: 8px;
  width: 280px;
  height: 50px;
  margin-top: 72px;
  font-family: Poppins, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.5px;
  transition: background-color .3s;
}

@media (width >= 640px) {
  .header__button {
    width: 264px;
    margin-top: 56px;
  }
}

@media (width >= 1024px) {
  .header__button {
    margin-top: 83px;
  }
}

.header__button:hover {
  background-color: #144ed4;
  box-shadow: 0 8px 20px #00000080;
}

.header__button:active {
  background-color: #2060f6;
}

.header-wrapper {
  background-color: #2c2c2c;
  border-radius: 0 0 30px 30px;
  height: 893px;
  position: relative;
}

@media (width >= 1024px) {
  .header-wrapper {
    height: 800px;
  }
}

.main {
  flex-direction: column;
  justify-content: space-between;
  gap: 120px;
  padding: 120px 0;
  display: flex;
}

@media (width >= 640px) {
  .main {
    gap: 148px;
    padding-top: 148px;
    padding-bottom: 0;
  }
}

.nav__list {
  flex-direction: column;
  justify-content: space-between;
  height: 196px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

@media (width >= 640px) {
  .nav__list--footer {
    flex-direction: row;
    height: 20px;
  }
}

@media (width >= 1024px) {
  .nav__list--footer {
    justify-content: end;
    gap: 64px;
  }
}

.nav__list--top-bar {
  pointer-events: none;
  display: none;
}

@media (width >= 1024px) {
  .nav__list--top-bar {
    pointer-events: auto;
    flex-direction: row;
    gap: 48px;
    height: 20px;
    display: flex;
  }
}

.nav__item {
  width: max-content;
}

.nav__link {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;
  font-family: Poppins, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.5px;
  text-decoration: none;
  display: block;
  position: relative;
}

.nav__link:after {
  content: "";
  transform-origin: 0;
  background-color: #2060f6;
  width: 100%;
  height: 1px;
  transition: all .3s;
  display: block;
  position: absolute;
  bottom: -8px;
  transform: scale(0);
}

.nav__link:hover:after {
  transform: scale(1);
}

.nav--dropdown {
  opacity: 0;
  pointer-events: none;
  background-color: #2c2c2c;
  border: 1px solid #6c788b;
  border-radius: 10px;
  width: max-content;
  margin-top: 10px;
  margin-left: -80px;
  padding: 15px;
  transition: opacity .3s, transform .3s;
  position: absolute;
  overflow: hidden;
  transform: translateY(-20px);
}

.dropdown--active .nav--dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.nav--footer {
  width: 113px;
}

@media (width >= 640px) {
  .nav--footer {
    width: 100%;
  }
}

.page {
  scroll-behavior: smooth;
}

.page__body {
  background-color: #f2f6fa;
  min-width: 320px;
  margin: 0;
}

.container {
  width: 280px;
  margin-inline: auto;
}

@media (width >= 640px) {
  .container {
    width: 560px;
  }
}

@media (width >= 1024px) {
  .container {
    width: 918px;
  }
}

@media (width >= 1600px) {
  .container {
    width: 1148px;
  }
}

.section-title {
  text-align: left;
  color: #253757;
  margin: 0;
  font-family: Poppins, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}

.section-title--big {
  text-align: center;
  margin-inline: auto;
  font-size: 44px;
  line-height: 53px;
}

@media (width >= 640px) {
  .section-title--big {
    font-size: 52px;
    line-height: 78px;
  }

  .section-title--vision {
    line-height: 62.5px;
  }
}

.section-title--about-us {
  text-align: center;
}

.section-title--contact-us {
  color: #fff;
}

.section-title--send-us {
  color: #fff;
  line-height: 42px;
}

@media (width >= 640px) {
  .section-title--send-us {
    list-style: 48px;
  }

  .section-title--testimonials {
    max-width: 200px;
  }
}

.section-subtitle {
  letter-spacing: 3px;
  text-align: left;
  text-transform: uppercase;
  color: #c0cdd7;
  margin-top: 0;
  margin-bottom: 16px;
  font-family: Poppins, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.5px;
}

.send-us__form {
  flex-direction: column;
  display: flex;
  position: relative;
}

.send-us__info {
  box-sizing: border-box;
  text-align: left;
  color: #fff;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  width: 280px;
  height: 41px;
  margin-bottom: 40px;
  padding: 0 0 17px;
  font-family: Poppins, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.5px;
  transition: border-color .3s;
}

@media (width >= 640px) {
  .send-us__info {
    width: 362px;
    margin-bottom: 48px;
  }
}

@media (width >= 1600px) {
  .send-us__info {
    width: 370px;
  }
}

@media (width >= 2560px) {
  .send-us__info {
    width: 460px;
  }
}

.send-us__info--email {
  margin-top: 48px;
}

@media (width >= 640px) {
  .send-us__info--email {
    margin-top: 56px;
  }
}

.send-us__info:hover {
  border-color: #2060f6;
}

.send-us__info:active {
  color: #fff;
}

.send-us__info--message {
  resize: none;
  margin-bottom: 0;
  overflow-y: hidden;
}

.send-us__info:-webkit-autofill {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: inset 0 0 0 1000px #2c2c2c;
}

.send-us__button {
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  text-align: center;
  background-color: #2060f6;
  border: none;
  border-radius: 8px;
  width: 280px;
  height: 56px;
  margin-top: 56px;
  padding: 0;
  font-family: Poppins, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.5px;
  transition: background-color .3s;
}

@media (width >= 640px) {
  .send-us__button {
    width: 264px;
    margin-top: 80px;
  }
}

.send-us__button:hover {
  background-color: #144ed4;
  box-shadow: 0 8px 20px #00000080;
}

.send-us__button:active {
  background-color: #2060f6;
}

.service-card {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 23px;
  flex-direction: column;
  width: 280px;
  height: 264px;
  padding: 32px;
  transition: box-shadow .3s;
  display: flex;
  box-shadow: 0 9px 18px #25293108;
}

.service-card:hover {
  box-shadow: 0 15px 30px #25293133;
}

.service-card__content {
  color: #6c788b;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 32px;
  padding-left: 0;
  font-family: Open Sans, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.5px;
  list-style: none;
}

.service-card__number-card {
  background-color: #f2f6fa;
  border-radius: 23px;
  width: 46px;
  height: 24px;
}

.service-card__number {
  color: #2060f6;
  text-align: center;
  margin: 0;
  font-family: Poppins, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.service-card__link {
  justify-content: space-between;
  align-items: center;
  width: 143px;
  height: 40px;
  text-decoration: none;
  display: flex;
}

.service-card__button {
  color: #2060f6;
  background-image: url("services-button.1cf2f91f.png");
  border-style: none;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  transition: transform .3s;
  display: block;
}

.service-card__button:hover {
  transform: scale(1.2);
}

.service-card__link-title {
  color: #253757;
  text-align: center;
  font-family: Poppins, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  transition: color .3s;
}

.service-card__link-title:hover {
  color: #144ed4;
}

@media (width >= 640px) {
  .service-card {
    width: 264px;
  }
}

@media (width >= 1024px) {
  .service-card {
    width: 214px;
  }
}

@media (width >= 1600px) {
  .service-card {
    width: 264px;
  }
}

@media (width >= 1024px) {
  .services {
    justify-content: space-between;
    gap: 176px;
    padding-top: 103px;
    display: flex;
  }
}

@media (width >= 1024px) and (width >= 1600px) {
  .services {
    gap: 226px;
  }
}

.services__top {
  align-self: start;
  width: 282px;
}

@media (width >= 640px) {
  .services__top {
    width: 266px;
  }
}

@media (width >= 1024px) {
  .services__top {
    width: 294px;
  }
}

@media (width >= 1600px) {
  .services__top {
    width: 364px;
  }
}

.services__description {
  color: #6c788b;
  text-align: left;
  flex-direction: column;
  gap: 21px;
  margin-top: 24px;
  margin-bottom: 48px;
  font-family: Open Sans, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  display: flex;
}

@media (width >= 640px) {
  .services__description {
    margin-bottom: 56px;
  }
}

.services__description-part {
  margin: 0;
}

.services__content {
  flex-direction: column;
  align-items: center;
  gap: 24px;
  display: flex;
}

@media (width >= 640px) {
  .services__content {
    flex-flow: wrap;
    place-content: flex-end center;
    align-self: flex-end;
    gap: 30px;
  }

  .services__content .service-card:nth-child(2n+2) {
    transform: translateY(-50%);
  }
}

@media (width >= 1024px) {
  .services__content {
    gap: 20px;
    width: 448px;
  }
}

@media (width >= 1600px) {
  .services__content {
    gap: 30px;
    width: 558px;
  }
}

.slider {
  background-image: url("slider-img-main.5d0c1eac.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  width: 100%;
  height: 390px;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (width >= 1024px) {
  .slider {
    border-radius: 30px 0;
    width: 48%;
    height: 680px;
    left: auto;
    right: 0;
  }
}

.slider--left {
  background-image: url("slider-img-left.01e98f99.png");
}

.slider--right {
  background-image: url("slider-img-right.46b12b94.png");
}

.slider__content {
  color: #fff;
  flex-direction: column;
  gap: 16px;
  margin-top: 250px;
  margin-left: 20px;
  display: flex;
}

@media (width >= 640px) {
  .slider__content {
    margin-left: 41px;
  }
}

@media (width >= 1024px) {
  .slider__content {
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-top: 564px;
    margin-left: 78px;
  }
}

.slider__arrows {
  justify-content: space-between;
  width: 80px;
  height: 32px;
  display: flex;
}

.slider__bottom {
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 68px;
  display: flex;
}

.slider__title {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;
  height: 20px;
  margin: 0;
  font-family: Poppins, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.5px;
}

.slider__text {
  text-align: left;
  height: 40px;
  margin: 0;
  font-family: Open Sans, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.arrow--right {
  cursor: pointer;
  transition: transform .3s;
}

.arrow--right:hover {
  transform: scale(1.2);
}

.arrow--left {
  cursor: pointer;
  transition: transform .3s;
}

.arrow--left:hover {
  transform: scale(1.2);
}

.testimonials-card {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 16px;
  flex-direction: column;
  align-items: center;
  width: 280px;
  padding: 32px 42px;
  transition: transform .3s;
  display: flex;
  box-shadow: 0 9px 18px #25293108;
}

.testimonials-card:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 30px #25293133;
}

@media (width >= 640px) {
  .testimonials-card {
    width: 558px;
  }
}

@media (width >= 1024px) {
  .testimonials-card {
    width: 292px;
    padding-inline: 48px;
  }
}

@media (width >= 1600px) {
  .testimonials-card {
    width: 362px;
    padding-inline: 56px;
  }
}

.testimonials-card__photo {
  background-image: url("background-ava.ded3f705.png"), url("background-ava.ded3f705.png");
  background-position: 15px 5px, 95px 80px;
  background-repeat: no-repeat;
  width: 196px;
  height: 196px;
  position: relative;
}

@media (width >= 640px) {
  .testimonials-card__photo {
    background-image: url("background-ava-big.56fa1d3d.png"), url("background-ava-big.56fa1d3d.png");
    background-position: 15px 5px, 122px 102px;
    width: 250px;
    height: 250px;
  }
}

@media (width >= 1024px) {
  .testimonials-card__photo {
    background-image: url("background-ava.ded3f705.png"), url("background-ava.ded3f705.png");
    background-position: 15px 5px, 95px 80px;
    width: 196px;
    height: 196px;
  }
}

@media (width >= 1600px) {
  .testimonials-card__photo {
    background-image: url("background-ava-big.56fa1d3d.png"), url("background-ava-big.56fa1d3d.png");
    background-position: 15px 5px, 122px 102px;
    width: 250px;
    height: 250px;
  }
}

.testimonials-card__ava-photo {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  position: absolute;
  top: 43px;
  left: 43px;
}

@media (width >= 640px) {
  .testimonials-card__ava-photo {
    width: 150px;
    height: 150px;
    top: 50px;
    left: 50px;
  }
}

@media (width >= 1024px) {
  .testimonials-card__ava-photo {
    width: 110px;
    height: 110px;
    top: 43px;
    left: 43px;
  }
}

@media (width >= 1600px) {
  .testimonials-card__ava-photo {
    width: 150px;
    height: 150px;
    top: 50px;
    left: 50px;
  }
}

.testimonials-card__quote {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.testimonials-card__quote-image {
  background-image: url("quotes.58c59b2c.png");
  background-size: contain;
  width: 24px;
  height: 24px;
}

.testimonials-card__quote-text {
  text-align: center;
  color: #6c788b;
  height: 80px;
  margin: 8px 0 0;
  font-family: Open Sans, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.5px;
}

@media (width >= 640px) {
  .testimonials-card__quote-text {
    margin-top: 16px;
  }
}

.testimonials-card__name {
  text-align: center;
  color: #253757;
  margin-top: 16px;
  font-family: Open Sans, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.5px;
}

.testimonials-card__add-info {
  letter-spacing: 3px;
  text-align: center;
  color: #c0cdd7;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 4px;
  font-family: Poppins, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.5px;
}

.testimonials__top {
  width: 280px;
}

.testimonials__content {
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
  display: flex;
}

@media (width >= 640px) {
  .testimonials__content {
    gap: 30px;
    margin-top: 56px;
  }
}

@media (width >= 1024px) {
  .testimonials__content {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-top: 85px;
  }
}

@media (width >= 1600px) {
  .testimonials__content {
    gap: 30px;
  }
}

.top-bar {
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  display: flex;
}

@media (width >= 1024px) {
  .top-bar {
    padding-top: 48px;
  }
}

.top-bar__left {
  align-items: center;
  gap: 32px;
  display: flex;
}

.top-bar__logo {
  transition: transform .3s;
}

.top-bar__logo:hover {
  transform: scale(1.2);
}

.top-bar__menu {
  background-image: url("menu.99871271.png");
  width: 24px;
  height: 24px;
  transition: transform .3s;
  display: block;
  position: relative;
}

.top-bar__menu:hover {
  transform: scale(1.2);
}

@media (width >= 1024px) {
  .top-bar__menu {
    visibility: hidden;
    pointer-events: none;
  }
}

.top-bar__hire-us-link {
  box-sizing: border-box;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: right;
  height: 28px;
  font-family: Poppins, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  transition: transform .3s;
  display: block;
  position: relative;
}

.top-bar__hire-us-link:hover {
  transform: scale(1.2);
}

.top-bar__hire-us-link:before {
  content: "";
  background-color: #2060f6;
  border-radius: 4px;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: -1px;
}

.top-bar__dropdown {
  position: relative;
}

.vision {
  flex-direction: column;
  align-items: center;
  padding: 72px 0;
  display: flex;
}

@media (width >= 640px) {
  .vision {
    padding: 200px 0 250px;
  }
}

.vision__text {
  text-align: center;
  color: #6c788b;
  max-width: 700px;
  margin: 24px 0 0;
  font-family: Open Sans, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
}

@media (width >= 640px) {
  .vision__text {
    font-size: 24px;
    line-height: 36px;
  }
}

.vision__button {
  cursor: pointer;
  color: #fff;
  text-align: center;
  background-color: #2060f6;
  border: none;
  border-radius: 8px;
  width: 280px;
  height: 56px;
  margin-top: 56px;
  font-family: Poppins, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.5px;
  transition: background-color .3s;
  box-shadow: 0 9px 18px #25293108;
}

@media (width >= 640px) {
  .vision__button {
    width: 264px;
    margin-top: 64px;
  }
}

.vision__button:hover {
  background-color: #144ed4;
  box-shadow: 0 15px 30px #25293133;
}

.vision__button:active {
  background-color: #2060f6;
}

.vision-wrapper {
  background-color: #fff;
}

@media (width >= 640px) {
  .vision-wrapper {
    background-image: url("shapes.4f241fba.png");
    background-position: 50% 63px;
    background-repeat: no-repeat;
    background-size: auto 500px;
  }
}
/*# sourceMappingURL=index.971c2ea4.css.map */
