@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-small-desktop {
  @media (min-width: $small-desktop-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin on-large-screen {
  @media (min-width: $large-screen-min-width) {
    @content;
  }
}

@mixin content-width() {
  margin-inline: auto;
  width: 280px;

  @include on-tablet {
    width: 560px;
  }

  @include on-small-desktop {
    width: 918px;
  }

  @include on-desktop {
    width: 1148px;
  }
}

@mixin margin-negative() {
  margin-inline: calc((100vw - 280px) / -2);

  @include on-tablet {
    margin-inline: calc((100vw - 560px) / -2);
  }

  @include on-small-desktop {
    margin-inline: calc((100vw - 918px) / -2);
  }

  @include on-desktop {
    margin-inline: calc((100vw - 1148px) / -2);
  }

  @include on-large-screen {
    margin-inline: calc((100vw - 1148px) / -2);
  }
}

@mixin font-poppins-semibold {
  font-family: Poppins, serif;
  font-weight: 600;
  font-style: normal;
}

@mixin font-poppins-bold {
  font-family: Poppins, serif;
  font-weight: 700;
  font-style: normal;
}

@mixin font-open-sans-normal {
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-open-sans-semibold {
  font-family: 'Open Sans', serif;
  font-weight: 600;
  font-style: normal;
}
