.company-info {
  margin: 80px 0;

  &__list {
    list-style: none;
    padding-left: 0;
  }

  &__type {
    @include font-poppins-bold;

    margin-top: 40px;
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
    color: rgba($white-color, 0.5);
  }

  &__value {
    @include font-open-sans-semibold;

    position: relative;
    display: block;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    color: $white-color;
    text-decoration: none;

    @include hover(color, $blue-color);
  }

  &__logo-block {
    margin-top: 16px;
    display: flex;
    height: 32px;
    width: 160px;
    justify-content: space-between;
  }

  &__link {
    display: block;
    height: 32px;
    width: 32px;
  }

  &__logo {
    height: 32px;
    width: 32px;
  }
}

.instagram {
  background-image: url('../images/logo/instagram-logo.png');

  @include hover(background-image, url('../images/logo/instagram-hover.png'));
}

.facebook {
  background-image: url('../images/logo/facebook-logo.png');

  @include hover(background-image, url('../images/logo/facebook-hover.png'));
}

.twitter {
  background-image: url('../images/logo/twitter-logo.png');

  @include hover(background-image, url('../images/logo/twitter-hover.png'));
}
