.expertise {
  padding: 72px 20px;
  margin-inline: -20px;
  background: $white-color;
  border-radius: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 56px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 56px;
  }
}
