.vision {
  @include margin-negative;

  background-color: $white-color;
  padding: 72px 20px;
  box-sizing: border-box;
  min-height: 571px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include on-tablet {
    background-image: url('../images/shapes.png');

    background-size: auto 500px;
    background-position: center 63px;
    background-repeat: no-repeat;
    padding: 200px 41px 256px;
  }

  @include on-small-desktop {
    padding-inline: 135px;
  }

  &__text {
    @include font-open-sans-semibold;

    margin: 0;
    margin-top: 24px;
    max-width: 700px;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: $main-font-color;

    @include on-tablet {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__button {
    @include font-poppins-semibold;

    margin-top: 56px;
    background-color: $blue-color;
    height: 56px;
    width: 280px;
    color: $white-color;
    font-size: 15px;
    line-height: 22.5px;
    text-align: center;
    border: none;
    border-radius: 8px;

    @include on-tablet {
      margin-top: 64px;
      width: 264px;
    }

    @include hover(background-color, $hover-color);

    &:active {
      background-color: $blue-color;
    }
  }
}
